<div class='userprof'>
  <%= image_tag 'http://jennstrends.com/wp-content/uploads/2013/10/bad-profile-pic-2.jpeg', id:"img_preview" %>
  <h2><%= @user.first %> <%= @user.last %></h2>
  <ul>
      <li>Username: <%= @user.username %></li>
      <li>Email: <%= @user.email %></li>
  </ul>

  <% if session[:user_id] == 1 %>
    <%= link_to 'back', users_path %>
  <% end %>
</div>
