<div class='team-name'>
  <div><%= link_to 'back', team_path(@post.team) %></div>
</div>

<div class='wrapper'>
  <h2 class='post-title'><%= @post.title %></h2>
  <hr>
  <h4><%= @post.body %></h4>
  <h6>By: <%= @post.user.username %> -
  <%= time_ago_in_words @post.created_at%> ago</h6>

  <br>

  <h5>comments:</h5>

    <% @post.comments.each do |comment| %>
      <blockquote>
        <p><%= comment.body %></p>
        <h6>By: <%= comment.user.username %> -
        <%= time_ago_in_words comment.created_at%> ago</h6>
      </blockquote>
    <% end %>

  <%= form_for [@post, @comment] do |f| %>
    <div class='row'>
      <%= f.text_area :body, placeholder: 'what do you want to comment about?', class: "form-control" %>
    </div><br>
    <div class='row'>
      <%= f.submit class: 'btn btn-success' %>
    </div><br>
  <% end %>
</div>
