<!DOCTYPE html>
<html>
  <head>
    <title>ProjectTwo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <div class='container'>
      <%= yield %>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Copyright ©2017</p>
        <p class="text-muted credit">Created by <a href="https://www.instagram.com/mtthwwstnhvr/">Matthew Westenhaver</a></p>
      </div>
    </div>
  </body>
</html>
